[submodule "zig-pcx"]
	path = lib/zig-pcx
	url = https://github.com/dbandstra/zig-pcx.git
[submodule "zig-hunk"]
	path = lib/zig-hunk
	url = https://github.com/dbandstra/zig-hunk.git
[submodule "zang"]
	path = lib/zang
	url = https://github.com/dbandstra/zang.git
[submodule "zig-wav"]
	path = lib/zig-wav
	url = https://github.com/dbandstra/zig-wav.git
[submodule "zig-clap"]
	path = lib/zig-clap
	url = https://github.com/Hejsil/zig-clap.git
[submodule "lib/zig-webgl"]
	path = lib/zig-webgl
	url = https://github.com/dbandstra/zig-webgl.git
