[submodule "zigutils"]
	path = zigutils
	url = https://github.com/dbandstra/zigutils.git
[submodule "zig-comptime-pcx"]
	path = zig-comptime-pcx
	url = https://github.com/dbandstra/zig-comptime-pcx.git
