body {
    background: black;
    color: #ddd;
}

#loading-text {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 110px;
    text-align: center;
    font-size: 24px;
    color: #ccc;
}

#canvasgl {
    display: block;
    margin: 0 auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
